$natto-link-color: #313131;
$natto-secondlink-color: #414141;
$natto-primary-textColor: #626262;
$natto-secondary-textColor: #939393;
$natto-date-textColor: #717171;
$natto-title-textColor: #121112;
$natto-white-color: #ffffff;
$natto-primary-color: #6344c6;
$natto-footer-bgColor: #eeebf2;
$natto-border-color: #c4c4c4;
